@font-face{
    font-family: computer;
    src: url(regular.otf);
}

@font-face{
    font-family: led;
    src: url(open-24-display-edited.otf); /*Edited so that Err displays correctly on the 7 segment*/
}

.calculator{
    display: block;
    position: absolute;
    width: 400rem;
    height: 755rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100rem;
    background: #F0DEC6;
    border-radius: 20rem;
    box-shadow: -0.25rem -3rem 0 1rem #D7C097, -0.5rem -8rem 0 2rem #CDAC7F, 10rem 10rem 30rem 0 #978E89; 
}

.calculator .face{
    display: block;
    position: absolute;
    height: 720rem;
    width: 370rem;
    border-radius: 20rem;
    top: 20rem;
    left: 15rem;
    background-color: #281710;
    background-image: linear-gradient(#392117, #806d64 20%, #492C26 33%, #2A110C, #1E0906);
    background-size: 355rem 32rem;
    background-position: 7rem 230rem;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem 2rem #411D0D, -0.5rem 0.5rem 0.25rem 1rem #361607,
    0.25rem 59.5rem #472B20 inset,
    0.25rem 60rem 0 1rem #73554A inset;
}

.calculator .face .solarpanel{
    display: block;
    position: absolute;
    height: 50rem;
    width: 355rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 70rem;
    border-radius: 20rem 20rem 2rem 2rem;
    background-image: linear-gradient(90deg, #2D241D, #251D1A, #191410 60%, #0E0D09 85%, #1F1812 );
    background-size: 100% 100%;
    box-shadow: -1.5rem -0.25rem 0.25rem 1rem #24130C;
}

.calculator .face .screen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100rem;
    width: 355rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 130rem;
    background-image: radial-gradient(#040402, #100F0B 50%);
    background-size: 100% 100%;
    box-shadow: -0.25rem -0.125rem 1rem 0.25rem #695C54;
}

.calculator .face .screen .display{
    height: 60rem;
    width: 30rem;
    margin-left: 3rem;
    background-image: linear-gradient(70deg, #0B0F12,  #181715);
    transform: skew(3deg);
    font-family: led;
    font-size: 45rem;    
}

.calculator .face .screen .display .background{
    position: absolute;
    width: 25rem;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10rem;
    background-color: #07080A;
}

.calculator .face .screen .display .background-number{
    position: absolute;
    top: -10rem;
    left: 4rem;
    transform: skew(-13deg);
    color: #161719;
}

.calculator .face .screen .display .number{
    position: absolute;
    margin-left: 6rem;
    top: 0rem;
    color: rgba(237, 252, 248, 0.808);
    text-shadow: 0 0 40rem #15b1d4;
    transform: skew(-10deg);
    background-image: radial-gradient(rgba(21, 216, 234, 0.4), rgba(7, 41, 68, 0.02) 70%, rgba(0,0,0, 0) 90%);
    background-size: 28rem 45rem;
    background-repeat: no-repeat;
    background-position: -5rem 8rem;
}

.one{
    width: 20rem;
    text-indent: 15rem;
}

.calculator .face .screen .display .decimal{
    position: absolute;    
    width: 10rem;
    color: rgba(237, 252, 248, 0.808);
    text-shadow: 0 0 30rem #139FC0;
    text-indent: 5rem;
    margin-left: 17rem;
    background-image: radial-gradient(rgba(21, 216, 234, 0.4), rgba(7, 41, 68, 0.02) 70%, rgba(0,0,0, 0) 90%);
    background-size: 10rem 10rem;
    background-repeat: no-repeat;
    background-position: 2rem 39rem;
}

.calculator .face .screen .display .sign{
    position: absolute;   
    width: 25rem;
    text-indent: 5rem; 
    color: rgba(237, 252, 248, 0.808);
    text-shadow: 0 0 60rem #139FC0;
    margin-left: 2.5rem;
    top: 2.5rem;
    background-image: radial-gradient(rgba(21, 216, 234, 0.4), rgba(7, 41, 68, 0.02) 70%, rgba(0,0,0, 0) 90%);
    background-size: 30rem 15rem;
    background-repeat: no-repeat;
    background-position: -3rem 20rem;
}

.calculator .face .keyboard{
    display: block;
    position: absolute;
    height: 450rem;
    width: 355rem;
    bottom: 7.5rem;
    border-radius: 3rem 3rem 20rem 20rem;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    /* background-color: #E8D9C4; */
    background-image: linear-gradient( #E3D1BB,
        #E7D5C1,
        #ECDAC6,
        #E8D9C4,
        #E1D1C1,
        #DBCBBB,
        #ECDAC6,
        #EDDAC9,
        #E3D2BE
        );
    background-size: 100% 3rem;

    box-shadow: 0 0 0 2rem #1E110B;
}

.calculator .face .keyboard .grid-container{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 355rem;
    height: 450rem;
    overflow: hidden;
}

.calculator .face .keyboard .grid-container t{
    display: block;
    position: relative;
    color: white;
    font-family: computer;
    margin-top: 9rem;
}

.key{
    place-self: center;     
    text-align: center;
    font-size: 30rem;
    user-select: none;
}
.key:hover{
    cursor: pointer;
}

.key:hover:active{
    font-size: 28rem;
}



.calculator .face .keyboard .grid-container .number{
    width: 60rem;
    height: 45rem;
    border-radius: 13rem;
    background-image: linear-gradient(90deg, #12100B, #27231A);
    box-shadow: 0.25rem 0.5rem 0.5rem 0 #B7A69E inset,
        0 0 0 1rem #150601,
        2rem 2rem 4rem #0E0F07,
        0 0 0 4rem #442B24,
        0 0 0 4.5rem #31190D;   
}

.calculator .face .keyboard .grid-container .number:hover:active{
    background-image: linear-gradient(90deg, #0f0e0a, #25221b);
    box-shadow: 0.115rem 0.25rem 0.25rem 0 #B7A69E inset,
        0 0 0 1rem #150601,
        2rem 2rem 4rem #0E0F07,
        0 0 0 4rem #442B24,
        0 0 0 4.5rem #31190D;
}

/*Zero button*/
.calculator .face .keyboard .grid-container .number#\30 {
    background-image: radial-gradient(#0f0e0a 30%, #25221b 60%, #947968 85%);
    background-size: 80rem 80rem;
    background-position: -20rem -20rem;
    background-repeat: no-repeat;
}

/*Zero button active*/
.calculator .face .keyboard .grid-container .number#\30 :hover:active{
    background-image: radial-gradient(#0f0e0a 30%, #25221b 60%, #947968 85%);
    background-size: 80rem 80rem;
    background-position: -18rem -18rem;
    background-repeat: no-repeat;
}

/*One button*/
.calculator .face .keyboard .grid-container .number#\31 {
    background-image: radial-gradient(#0f0e0a 30%, #25221b 60%, #c2b2a7 85%);
    background-size: 80rem 80rem;
    background-position: -20rem -20rem;
    background-repeat: no-repeat;
}

/*One button active*/
.calculator .face .keyboard .grid-container .number#\31 :hover:active{
    background-image: radial-gradient(#0f0e0a 30%, #25221b 60%, #ac9587 85%);
    background-size: 80rem 80rem;
    background-position: -18rem -18rem;
    background-repeat: no-repeat;
}

.calculator .face .keyboard .grid-container .symbol{
    width: 60rem;
    height: 45rem;
    background-image: linear-gradient(90deg, #59493A, #55473C);
    border-radius: 13rem;
    box-shadow: 0.25rem 0.5rem 0.5rem 0 #B7A69E inset,
        0 0 0 1rem #150601,
        2rem 2rem 4rem #0E0F07,
        0 0 0 4rem #442B24,
        0 0 0 4.5rem #31190D;
}

.calculator .face .keyboard .grid-container .symbol:hover:active{
    width: 60rem;
    height: 45rem;
    background-image: linear-gradient(90deg, #554637, #55473C);
    border-radius: 13rem;
    box-shadow:  0.115rem 0.25rem 0.25rem 0 #B7A69E inset,
        0 0 0 1rem #150601,
        2rem 2rem 4rem #0E0F07,
        0 0 0 4rem #442B24,
        0 0 0 4.5rem #31190D;

}

.calculator .face .keyboard .grid-container .function{
    width: 60rem;
    height: 37rem;
    background-image: linear-gradient(90deg, #351210, #481B1E);
    border-radius: 2rem;
    place-self: center;     
    text-align: center;
    font-size: 26rem;
    user-select: none;

    box-shadow: 0.25rem 0.5rem 0.5rem 0 #7A5B58 inset,
        1rem 1rem 0.75rem 0 #130100,
        0 0 0 2rem #4E322E,
        0 0 0 1rem #50332D,
        0 0 0.5rem 4.5rem #230801;
}
.calculator .face .keyboard .grid-container .function:hover{
    cursor: pointer;
}

.calculator .face .keyboard .grid-container .function:hover:active{
    font-size: 24rem;
    background-image: linear-gradient(90deg, #300f0d, #481B1E);
    box-shadow: 0.115rem 0.25rem 0.25rem 0 #7A5B58 inset,
        1rem 1rem 0.75rem 0 #130100,
        0 0 0 2rem #4E322E,
        0 0 0 1rem #50332D,
        0 0 0.5rem 4.5rem #230801;
}

.calculator .face .keyboard .grid-container .function#AC{
    background-image: radial-gradient(#C70B00 60%, #EA6459 90%);
    background-size: 120rem 90rem;
    background-position: -60rem 0rem;
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#AC:hover:active{
    background-image: radial-gradient(#C70B00 55%, #EA6459 85%);
    background-size: 120rem 90rem;
    background-position: -60rem -10rem;
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#MR{
    background-image: radial-gradient(#300A09 45%, #85685d 70%);
    background-size: 140rem 65rem;
    background-position: -60rem -6rem;
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#MR:hover:active{
    background-image: radial-gradient(#300A09 40%, #85685d 75%);
    background-size: 140rem 65rem;
    background-position: -55rem -8rem;
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#C{
    background-image: linear-gradient(90deg, #2F0D0B 20%, #3D1A16 45% 78%, #532C27 85%, #8A6A5F 99%);
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#C:hover:active{
    background-image: linear-gradient(90deg, #2F0D0B 20%, #3D1A16 45% 83%, #532C27 90%, #7c5c52 99%);
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#M-{
    background-image: linear-gradient(65deg, #2F0D0B 20%, #3D1A16 45% 78%, #532C27 85%, #836257 93%);
    background-position: -20rem 0rem;
    background-size: 80rem 60rem;
    background-repeat: no-repeat; 
}

.calculator .face .keyboard .grid-container .function#M-:hover:active{
    background-image: linear-gradient(65deg, #2F0D0B 20%, #3D1A16 45% 78%, #532C27 85%, #745449 93%);
    background-position: -18rem 0rem;
    background-size: 80rem 60rem;
    background-repeat: no-repeat; 
}